user daemon
pidfile /var/tmp/sniproxy.pid
error_log {
syslog daemon
priority notice
}
listener {{ remote_ip }} 80 {
proto http
access_log {
filename /var/log/sniproxy/http_access.log
priority notice
}
}
listener {{ remote_ip }} 443 {
proto tls
access_log {
filename /var/log/sniproxy/https_access.log
priority notice
}
}
table {
.* *
}
